/* Cross-browser compatibility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* Main styles for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

nav {
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* Navigation styles */
nav {
  margin: 0 auto;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #6C63FF;
}

/* Subheader styles */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav ul li:hover > ul {
  display: flex;
  flex-direction: column;
}

nav ul ul li {
  width: 100%;
  margin: 0;
}

nav ul ul li a {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
}

nav ul ul li a:hover {
  background-color: #6C63FF;
  color: #FFFFFF;
}

/* Subnav styles */
.subnav {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.subnav:hover {
  color: #6C63FF;
}

.subnav:focus {
  outline: none;
}

.subnav i {
  margin-left: 5px;
}

.subnav ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.subnav:hover > ul {
  display: flex;
  flex-direction: column;
}

.subnav ul li {
  width: 100%;
  margin: 0;
}

.subnav ul li a {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
}

.subnav ul li a:hover {
  background-color: #6C63FF;
  color: #FFFFFF;
}

.subnav1 {
  background-color: #C4C4C4;
  font-size: 16px;
  padding: 10px 20px;
}

.subnav2 {
  background-color: #C4C4C4;
  font-size: 16px;
  padding: 10px 20px;
}

/* Logo styles */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.logo img {
  width: 100%;
}

/* Main styles */
main {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.hatchery-info h1 {
  text-align: left;
  color: #6C63FF;
  font-size: 36px;
}

.hatchery-info p {
  margin-bottom: 20px;
  text-align: left;
}

.hatchery-info img {
  max-width: 70%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.hatchery-info img:hover {
  transform: scale(1.03);
}

.hatchery-info h2 {
  color: #6C63FF;
  margin-bottom: 10px;
  text-align: left;
}

.hatchery-info ul li {
  position: relative;
  font-weight: bold;
}

.hatchery-info ul li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 8px;
  height: 8px;
  background-color: #6C63FF;
  border-radius: 50%;
}

.hatchery-info ul li::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -16px;
  width: 2px;
  height: calc(100% - 24px);
  background-color: #6C63FF;
}

/* Animaions */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Animation to specific elements */
.hatchery-info h1 {
  animation: fadeIn 1s;
}

.hatchery-info p {
  animation: slideIn 1s;
}

.hatchery-info ul {
  animation: slideIn 1s;
}

.hatchery-info li {
  animation: slideIn 1s;
  animation-delay: 0.2s;
}

/* Footer 1*/
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 40px;
}

.footer1 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* padding-left: 50px; */
  align-items: left;
}

.footer1 ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer1 ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.footer1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer1 form h3 {
  margin-bottom: 10px;
}

.footer1 input[type="email"] {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.footer1 button[type="submit"] {
  padding: 10px 20px;
  background-color: #6C63FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer1 button[type="submit"]:hover {
  background-color: #6C63FF;
}

.contact-us {
  text-align: left;
  margin-bottom: 20px;
}

.contact-us h3 {
  margin-bottom: 15px;
}

.contact-us p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Footer 2 */
.footer2 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .subnav ul {
    position: static;
    box-shadow: none;
  }

  .subnav ul li {
    width: auto;
    margin-right: 10px;
  }

  .hatchery-info h1 {
    font-size: 26px;
  }

  .hatchery-info img {
    max-width: 100%;
  }

  .hatchery-info p {
    font-size: 16px;
  }

  .hatchery-info h2 {
    font-size: 22px;
  }

  .bentota-map {
    width: 100%;
  }

  .footer1 {
    flex-direction: column;
  }

  .footer1 ul {
    margin-bottom: 25px;
  }

  .footer1 form {
    margin-bottom: 25px;
  }
}
