/* Cross-browser compatibility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* Main styles for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

nav {
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* Navigation styles */
nav {
  margin: 0 auto;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #6C63FF;
}

/* Subheader styles */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav ul li:hover > ul {
  display: flex;
  flex-direction: column;
}

nav ul ul li {
  width: 100%;
  margin: 0;
}

nav ul ul li a {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
}

nav ul ul li a:hover {
  background-color: #6C63FF;
  color: #FFFFFF;
}

/* Subnav styles */
.subnav {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.subnav:hover {
  color: #6C63FF;
}

.subnav:focus {
  outline: none;
}

.subnav i {
  margin-left: 5px;
}

.subnav ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.subnav:hover > ul {
  display: flex;
  flex-direction: column;
}

.subnav ul li {
  width: 100%;
  margin: 0;
}

.subnav ul li a {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
}

.subnav ul li a:hover {
  background-color: #6C63FF;
  color: #FFFFFF;
}

.subnav1 {
  background-color: #C4C4C4;
  font-size: 16px;
  padding: 10px 20px;
}

.subnav2 {
  background-color: #C4C4C4;
  font-size: 16px;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .subnav ul {
    position: static;
    box-shadow: none;
  }

  .subnav ul li {
    width: auto;
    margin-right: 10px;
  }
}

/* Logo styles */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.logo img {
  width: 100%;
}

main {
  padding: 40px;
  text-align: center;
}

.purchase-donate-info {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 40px;
}

.purchase-donate-info h1 {
  color: #333333;
  font-size: 36px;
  margin-bottom: 20px;
}

.purchase-donate-info p {
  font-size: 18px;
  line-height: 1.5;
  color: #666666;
  margin-bottom: 20px;
}

.purchase-donate-info h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.purchase-donate-info form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.purchase-donate-info label {
  font-size: 18px;
  color: #333333;
  margin-bottom: 5px;
}

.purchase-donate-info input[type="text"],
.purchase-donate-info input[type="email"],
.purchase-donate-info input[type="number"],
.purchase-donate-info input[type="month"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  font-size: 16px;
}

.purchase-donate-info button[type="submit"],
.purchase-donate-info button {
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.purchase-donate-info button:hover {
  background-color: #5a50e6;
}

/* Store styles */
.store {
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.product h3 {
  margin-bottom: 5px;
}

.product p {
  margin-bottom: 10px;
}

.product button {
  background-color: #6c63ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.product button:hover {
  background-color: #5a50e6;
}

/* Footer 1*/
.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 40px;
}

.footer1 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* padding-left: 50px; */
  align-items: left;
}

.footer1 ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer1 ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.footer1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer1 form h3 {
  margin-bottom: 10px;
}

.footer1 input[type="email"] {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.footer1 button[type="submit"] {
  padding: 10px 20px;
  background-color: #6C63FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer1 button[type="submit"]:hover {
  background-color: #6C63FF;
}

.contact-us {
  text-align: left;
  margin-bottom: 20px;
}

.contact-us h3 {
  margin-bottom: 15px;
}

.contact-us p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Footer 2 */
.footer2 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}